{% extends 'thinkapp/master.html' %}
{% load static %} 

{% block main %}

<form role="form"  method="post"  action="FrameAdd">
{% csrf_token %}

     <div class="input-group mb-3" >
            <label class="input-group-text" > 类 型 </label>
            <select class="custom-select" name="Sort_id"  value="0" >
                {% for  c  in  Sort_id %}
                    <option value="{{ c.id }}"> {{ c.name }} </option>
                {% endfor %}
            </select>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"> 标 题 </span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  name="nameT">
    </div>

    <input class="form-control" id="Num" type="hidden"  name="Num"  value="0">
    <p id="Frame_id"> </p>
    
    <div class="form-group row">
    <p>添加步骤：<span> <a id="addFrameC" href="javascript:void(0);">添加</a></span> </p>
     </div>
    <button  type="submit">提 交</button>
</form>

<!-- 两个script脚本用处,动态添加输入框    -->
<script src="{% static  'js/jquery-3.3.1.js' %}"></script>
<script>
$(function () {
    var num = 1;
    $("#addFrameC").click(function () {
        $("#Frame_id").append("<span>第"+num+"步： <input  type=\"radio\" name=\"sub_title"+num+"\" value=\"1\" checked=\"checked\">内容 <input type=\"radio\" value=\"0\" name=\"sub_title"+num+"\" > 子标题 </span> </span><span><input class=\"form-control\" name=\"Cname"+num+"\"> <br>");
        $("#Num").val(num);
        num += 1;
    });
});
</script>

{% endblock %}
