{% extends 'thinkapp/master.html' %}

{% block main %}
<form role="form"  method="post"  action="">
{% csrf_token %}
<input  type="hidden"  name="frameCNum"  value="{{ frameCNum }}">
<br><br>
{{ frameT }}<br>
<input type="hidden"  name="is_title0"  value="1">
<input type="hidden"  name="frameid0"  value="{{ frameT.id }}"> <br>
<textarea name="solution0" ></textarea><br><br>
    {% for c in frameC %}
        <tr>
            <th>{{ c.name }}</th>
            <td>
                {% if c.sub_title == 1 %}
                    <input type="hidden"  name="is_title{{ forloop.counter }}"  value="0">
                    <input type="hidden"  name="frameid{{ forloop.counter }}"  value="{{ c.id }}"> <br>
                    <textarea name="solution{{ forloop.counter }}" ></textarea>         <br><br>
                {% else %}
                    <input type="hidden"  name="frameid{{ forloop.counter }}"  value="-1"> <br>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
<input type="submit" value="提 交">
</form>
{% endblock %}
