<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,
    user-scalable=no">
    <title> 我的工具箱 </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
{# 导航begin #}
<div >
<div class="container" style="background:#000c00; color:#FFF">
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link active" href="{% url 'frameList' %}"> 首页 </a></li>
<!--            <li class="nav-item"><a class="nav-link " href="{% url 'SortList' %}"> 类型列表 </a></li>-->
            <li class="nav-item"><a class="nav-link " href="{% url 'frameList' %}"> 框架列表 </a></li>
        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    <li class="nav-item"> <a class="nav-link p-2" href="{% url 'FrameAdd' %}" target="_blank" rel="noopener" aria-label="Slack">添加框架</a></li>
    <li class="nav-item"> <a class="nav-link p-2" href="{% url 'contact' %}" target="_blank" rel="noopener" aria-label="Slack">本阁介绍</a></li>
    </ul>

    <a class="btn btn-bd-yellow d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="">这是啥</a> </header>
</div>
</div>
{# 导航end #}

<div class="container">
    <div class="row">
        <div class="col-2" >
            {% block leftbar %}

            {% endblock %}
        </div>

        <div class="col-7" >
        {% block main %} {% endblock %}
        </div>

        <div class="col" >
            {% block rightbar %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>