{% extends 'layout.html' %}
{% load static %} 

{% block main %}
<div>
    <h3>如何构建自己的思考系统</h3>
遇到问题，有人事倍功半，有人事半功倍。<br>
通过观察总结，发现事半功倍的人有个共性。<br>
思考言论都很有逻辑性。总结下会发现里边不是分步就是分类，再就是既有分类又有分步。<br>
那么分步或者分类无论看起来还是听起来都很简单的事情，为什么我们遇到问题的时候就那么容易卡壳呢？<br>
我还没想明白。<br>
不过既然有人能顺利的使用逻辑将问题化解，想到古人说过“临渊羡鱼，不如退而结网”，那就先看看他们是如何做的。<br>
古人还说过：受人以鱼不如受人以渔，<br>
先从他们手里拿到鱼，然后再顺便学学捕鱼。<br>
他们的逻辑里边如何分步，分类的呢？或者说他们的逻辑中的分步或者分类又什么依据呢？<br>
这个在《金字塔原理》一书中有比较好的总结：<br>
组织思想四种逻辑<br>
演绎顺序：大前提，小前提，结论<br>
时间（步骤）顺序：第一，第二，第三<br>
结构（空间）顺序：手，脚，头<br>
程度（重要性）顺序：最重要，次重要，。。。<br>
另外还有一个分类的原则：MECE（相互独立，完全穷尽）<br>
也就是说他们依据这些逻辑和原则有机的融合来完成逻辑思考<br>
但是也许又一个疑问来了。如何有机融合呢？<br>
这个我还是没想明白。<br>
不过依然按古人给的提示：先拿到鱼，然后再学捕捞。<br>
5why分析法，鱼骨图，四象限分析法。等等一些分析框架。想必至少也都见过几个。那就拿来用用呗。<br>
这就好了，咱也学会逻辑思考了？<br>
好像缺点啥？<br>
。。。。<br>
突然想到一大名鼎鼎古人专属台词：“如今苦思，翻折竹简，亦未得破敌之法”，此人位列战国四名将之外，却比四名将更家喻户晓。<br>
既然死读书都可以名流千古。我何乐而不为呢。我也去翻翻书中答案：“所谓框架，就是一种帮主你组织思路和合理分析案例的结构。然而，经常发生的问题是，即使解答一个简单的案例问题，你也需要从多个框架中摘取适当的部分并组合拼凑来完成。正如我前面提到的，框架和系统的真正区别在于，框架是单个的工具，二系统则是完整的工艺过程。因此你无需分别死记硬背七种框架，解释再决定应用那个或哪些框架，你要学的事一个系统，所有的工具都已内置其中了。 --《case in point》 MARC P.COSENTINO[美]”<br>
框架怎么不太好用？要学系统？<br>
麻烦了。<br>
什么是系统？<br>
系统由三部分组成：要素、连接（要素之间的联系，反馈）、功能或目标<br>
系统定义：一组相互连接的事物，在一定时间内以特定的行为模式相互影响，以达成某个目的、造成某种影响。（这个定义是根据《系统之美》，得内啦-梅多斯[美]，《系统思考》 丹尼斯·舍伍德，《系统思维与系统决策-慕课网》 等等一些地方总结并瞎凑得来的。这个等等不能说我不尊重作者哦。我已经“挖空心思”去想了）<br>
OK ，知道系统是什么东西了。<br>
那么要自己造系统就简单了，首先这样，然后那样，再那样，就是个系统了。（元素是“样”；连接有“先，然后，再”；目标是“一脸茫然”）<br>
认真了，我们要通过框架，算了，暂时不用框架了。太憋屈，局限了。<br>
先用分步、分类这俩个东西来造自己的系统。<br>
要素是分步或者分类<br>
目标是解决或者分析某个问题<br>
连接是？不太好搞啊，怎么办？<br>
那就先从它到底是啥，然后再连接吧。<br>
分步：纵向思维，用于追根究底，深入挖掘的一种思维方式。有5hwy，鱼骨图等分析框架<br>
分类：横向思维，用于比较归类，完整全面的一种思维方式。有MECE原则，相互独立，完全穷尽<br>
OK，简单点了。<br>
这个系统有曙光了。<br>
以分析，解决问题为目标：<br>
1，遇到问题首先确认是需要深入挖掘的还是需要完整全面思考的。<br>
2，确定之后明确了该使用分步还是分类了。（这里可以直接套用好用的一些框架）<br>
3，之后的小问题继续上边的1,2循环<br>
现在是不是大概知道怎么建立自己的思考系统了。<br>
后边就是刻意练习了。<br>
不能像赵括一样，辩论兵法强比名将，四十万将士，都被他当竹简翻折。<br>
下边是一个网站自己做的，初步先收集整理框架，后边再完善成一个系统<br>

<div class="bd-example">
    <strong>我的工具箱</strong><br />
    <a href="http://www.mytools.store">http://www.mytools.store</a>
里边可以添加框架，使用框架<br>
</div>

</div>
<br>
{% endblock %}

{% block rightbar %}

<div>

<p>邮箱：495050243@qq.com</p>

<p>
<strong>闲论：</strong>有一好友，从学校就比我厉害（就是学习，玩都比我强）。在努力上不觉得比他差哪里。所以就一直想知道为啥。
现在还在寻找答案的路上。暂时发现一点，那就是思维方式上有点不一样。观察他的行为，发现做事，思考大概感觉上有一定的规范类的方式遵循。
可以叫做系统，或者模式。也有说套路的。都一个意思。
所以就搜集一些思路模型，做成一个系统。尝试。
</p>

可以留言：
</div>

<!--留言-->
<div>

  <form action="contact" method="POST">
 {% csrf_token %}
    <div id="mergeTable" class="mergeTable">
        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-0">
            <label for="title">标题：</label>
            <div class="field-group">
                <input type="text" name="title" id="title" size="25" value="">
            </div>
        </div>

        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
            <label for="contact">联系方式</label>
            <div class="field-group">
                <input type="text" name="contact" id="contact" size="25" value="">
            </div>
        </div>

        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
            <label for="content">内容</label>
            <div class="field-group">
                <input type="text" name="content" id="content" size="25" value="">
            </div>
        </div>
    </div>

    <div class="submit_container clear">
        <input type="submit" class="formEmailButton" name="submit" value="提交">
    </div>

</form>
</div>

{% endblock %}
